.rodape {
    height: auto;
    background-image: url(../images/fundo-footer.png);
    padding-bottom: 1%;
}

.rodape__fale-conosco {
    width: 100%;
}

.rodape__fale-conosco h1 {
    text-align: center;
    font-size: 2em;
    color: white;
    width: 75%;
    margin: auto;
    padding-top: 30%;
}

.rodape__flex {
    display: flex;
    justify-content: center;
    width: 55%;
    margin: auto;
    margin-top: 7%;
}

.rodape__fale-conosco li {

    display: inline;
    color: white;
    padding: 2px;
}

.icones-img {
    padding: 2px 4px;
}

.icones-separador {
    font-size: 1.1em;
    margin-top: 3px;
}

.icones-legenda {
    font-size: 0.86em;
    margin-top: 5px;
    text-transform: uppercase;
    font-family: 'Roboto Slab', serif;
}

/* -------------------------formulário -------------------------*/

.rodape__formulario {
    font-family: 'Roboto Slab', serif;
    color: rgb(129, 127, 127);
    width: 90%;
    margin: auto;
    padding: 5%;


}

.rodape__formulario-bloco {
    display: flex;
    flex-wrap: wrap-reverse;
    text-transform: uppercase;
}

.rodape__formulario-bloco label {
    font-size: 0.9em;
}

.rodape__formulario-input {
    display: block;
    margin: 1% 0 4%;
    padding: 15px;
    background-color: #1b1f1c;
    border: solid 0.5px #dad6d6;
    color: #dad6d6;
    border-bottom: none;
    border-left: none;
    font-size: 1.2em;
    width: 100%;
}

::-webkit-input-placeholder {
    color: #dad6d6;

}

.rodape__formulario-input:focus {
    background-color: rgb(103 101 101);
    color: white;
    border: solid 0.5px #00ec5b;
    border-bottom: none;
    border-left: none;
    outline: none;
}

.rodape__formulario-input:focus~label {
    color: #00ec5b
}

.rodape__botao-flex {
    display: flex;
    justify-content: center;
    margin: 15% auto;
}

.rodape__botao-flex button {
    background-color: #00EC5B;
    border: none;
    border-radius: 50px;
    width: 60%;
    padding: 15px;
    font: inherit;
}

/* -------------------------fim do formulário -------------------------*/

.rodape__informes {
    margin: 10% auto;
    width: 90%;
    font-family: 'Roboto Slab', serif;
}

.rodape__direitos {
    font-size: 0.85em;
    line-height: 3em;
    color: rgb(129, 127, 127);
    margin-bottom: 5%;

}

.rodape__lista-flex {

    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    width: 85%;
    margin-left: 15%;
}

.rodape__proj {
    text-transform: uppercase;
    color: white;
    font-size: 0.7em;
    padding-top: 15px;
}

.rodape__logo {
    width: 80%;
}

@media screen and (min-width: 768px) {
    .rodape__fale-conosco h1 {
        font-size: 3em;
        padding-top: 20%;
    }

    .rodape__flex {
        width: 60%;
        margin-top: 3%;
    }

    .rodape__fale-conosco li {
        padding: 5px;
    }

    .icones-img {
        padding: 3px 5px;
        width: 120%;
    }

    .icones-separador {
        font-size: 1.2em;
        margin-top: 5px;

    }

    .icones-legenda {
        font-size: 1em;
        margin-top: 7px;
    }

    /* -------------------------formulário ipad -------------------------*/

    .rodape__botao-flex {
        margin: 2% auto;
    }

    .rodape__botao-flex button {
        border-radius: 50px;
        width: 100%;
        padding: 30px;
    }

    /* -------------------------fim do formulário ipad -------------------------*/
    .rodape__informes {
        margin: 5% auto;
        width: 100%;
        font-family: 'Roboto Slab', serif;
    }

    .rodape__direitos {
        text-align: center;
        font-size: 0.9em;
        margin-bottom: 0;

    }

    .rodape__lista-flex {

        display: flex;
        flex-wrap: nowrap;
        justify-content: center;
        width: 85%;
        margin-left: 10%;
    }


    .rodape__proj {
        font-size: 0.7em;
        padding-top: 15px;
    }

    .rodape__logo {
        width: 80%;
    }

}

@media screen and (min-width: 1024px) {

    .rodape {
        width: 100%;
        display: grid;
        grid-template-columns: 40% 60%;
        grid-template-rows: 90% 10%;
        padding-bottom: 5%;


    }

    .rodape__fale-conosco {
        width: 100%;
        padding-top: 30%;
    }

    .rodape__fale-conosco h1 {
        font-size: 3.5em;
        margin-left: 3%;
        width: 100%;

    }

    /* -------------------------formulário web -------------------------*/
    .rodape__formulario {
        width: 100%;
        padding-top: 0;

    }

    .rodape__informes {
        grid-column: 1/-1;
        display: flex;
        justify-content: flex-end;
        margin-top: 2%;
    }

    .rodape__formulario-versao-web {
        display: flex;
        flex-wrap: nowrap;
        justify-content: space-between;

    }

    .bloco-telefone {
        width: 49%;
    }

    .bloco-email {
        width: 49%;
    }

    .rodape__botao-flex {
        justify-content: flex-end;
        margin: 2% auto;
    }

    .rodape__botao-flex button {
        width: 35%;
        padding: 25px;
    }

    /* -------------------------fim do formulário web-------------------------*/
    .rodape__direitos {
        width: 80%;
        font-size: 1em;
        text-align: left;
        margin-left: 5%;
    }

    .rodape__proj {
        font-size: 0.9em;
        padding-top: 15px;
    }

    .rodape__lista-flex {
        width: 40%;
        padding-top: 10px;
    }

}